---

---

<div class="mb-3">
    <strong>Sportzentrum Nord e.V.</strong>
    <br />
    Schillerstraße 37
    <br />
    06844 Dessau-Roßlau
</div>
<div class="mb-3">
    Tel: <a href="tel:+4917630710872">+49 176 30710872</a>
    <br />
    Mail: <a href="mailto:sportzentrumnord.dessau@gmail.com"
        >sportzentrumnord.dessau@gmail.com</a
    >
</div>
<div>
    <a
        class="btn btn-outline-primary"
        href="https://maps.app.goo.gl/a3m9yXxQWHpz6gcP7"
        target="_blank">Karte</a
    >
</div>
